<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand" href="#">Scheduler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" wfd-id="651">
    <span class="navbar-toggler-icon" wfd-id="466"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" wfd-id="458">
    <ul class="navbar-nav mr-auto" wfd-id="460">
      <li class="nav-item active" wfd-id="464">
        <a class="nav-link" href="#">Home <span class="sr-only" wfd-id="465">(current)</span></a>
      </li>
      <li class="nav-item" wfd-id="463">
        <a class="nav-link" href="#">Doctors</a>
      </li>
      <li class="nav-item" wfd-id="462">
        <a class="nav-link" href="#">Reception</a>
      </li>
      <li class="nav-item" wfd-id="461">
        <a class="nav-link" href="#">Appointment</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" wfd-id="459">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" wfd-id="520">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" wfd-id="650">Login</button>
    </form>
  </div>
</nav>
 { path: 'doctor', component: DoctorsComponent },
  { path: 'receptionist', component: ReceptionistComponent },
  { path: 'appointment', component: AppointmentComponent },
  { path: 'login', component: LoginComponent },
  { path: 'logout', component: LogoutComponent },-->
<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand" href="#">
    <img src="assets/scheduling.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Scheduler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" routerLinkActive="active" routerLink="/doctor"
        *ngIf="shared.successLogin">Availability</a> -->

      <li class="nav-item dropdown" *ngIf="shared.successLogin">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Availability
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="onClickAllAvailability()">Availibilty</a>
          <div class="dropdown-item" (click)="onClickMe()">Available Tomorrow</div>
        </div>
      </li>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/appointment" *ngIf="shared.successLogin">Book
        Appointment</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/bappointment"
        *ngIf="shared.successLogin">Booked Appointments</a>

    </div>
    <form class="form-inline my-2 my-lg-0" [ngClass]="{myform: shared.successLogin, initialClass:!shared.successLogin}">
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" wfd-id="520"> -->
      <button class="btn btn-secondary" (click)="login()">{{btnName}}</button> &nbsp;
      <button class="btn btn-secondary" (click)="register()">Register</button>
    </form>

  </div>
</nav>
